<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
    {{> navbar}}
    <div class="container">
        <h2>User Profile</h2>
        <img src="/images/3135715.png" width="300" height="300" />
        <h3>Name: {{user.name}}</h3>
        <h3>Email: {{user.email}}</h3>

    </div>
</body>

</html>